spring:
  application:
    name: Chamados

  datasource:
    url: jdbc:postgresql://localhost:5432/library
    username: lucas
    password: mrjhonhy1579
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081

logging:
  file:
    name: app.log
  level:
    root: warn
    org:
      springframework:
        web: debug

